{% extends 'figital/base.html' %}
{% load django_bootstrap5 %}  

{% block title %}Formulário Rede de Transformação Digital{% endblock %}

{% block content %}
    <!-- Barra de navegação fixada no topo com botão de Voltar alinhado à direita -->
    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container-fluid d-flex justify-content-end">
            <a href="{% url 'index' %}" class="btn btn-secondary">Voltar</a>
        </div>
    </nav>

    <!-- Contêiner do formulário com largura aumentada -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8"> <!-- Alterado para col-md-8 -->
                <h2 class="text-center text-custom-green">Cadastro - Rede de Transformação Digital</h2>
                {% bootstrap_messages %}
                <form method="post" class="p-4 border rounded bg-light">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-success w-100">Enviar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
