{% extends 'figital/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Registros - Rede de Transformação Digital{% endblock %}

{% block content %}
    <!-- Barra de navegação fixada no topo com botão de Voltar e Exportar -->
    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container-fluid d-flex justify-content-between">
            <a href="{% url 'exportar_transformacao' %}" class="btn btn-success">Exportar para Excel</a>
            <a href="{% url 'index_autenticado' %}" class="btn btn-secondary">Voltar</a>
        </div>
    </nav>

    <!-- Contêiner da tabela -->
    <div class="container mt-5">
        <h2 class="text-center text-custom-green">Registros - Rede de Transformação Digital</h2>
        <div class="table-responsive">
            <table class="table table-bordered border-primary">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Data da Publicação</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Secretaria</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contato</th>
                        <th scope="col">Chefe Imediato</th>
                        <th scope="col">Problema Urgente</th>
                        {% if pertence_grupo_exclusao or pertence_grupo_edicao %}
                            <th>Ação</th> 
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td scope="col">{{ registro.id }}</td>
                        <td scope="col">{{ registro.data_publicacao }}</td>
                        <td scope="col">{{ registro.nome }}</td>
                        <td scope="col">{{ registro.secretaria }}</td>
                        <td scope="col">{{ registro.cargo }}</td>
                        <td scope="col">{{ registro.email }}</td>
                        <td scope="col">{{ registro.telefone }}</td>
                        <td scope="col">{{ registro.chefe_imediato }}</td>
                        <td scope="col">{{ registro.problema_urgente }}</td>
                        {% if pertence_grupo_exclusao or pertence_grupo_edicao  %}
                            <td>
                                <div class="d-flex gap-2">
                                    <!-- Botão de Editar -->
                                    {% if pertence_grupo_edicao %}
                                        <!-- Botão de Editar (só aparece para Grupo de Edição) -->
                                        <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#confirmEditModal{{ registro.id }}">
                                            Editar
                                        </button>
                                    {% endif %}
                                    {% if pertence_grupo_exclusao %}
                                        <!-- Botão de Excluir -->
                                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ registro.id }}">
                                            Excluir
                                        </button>
                                    {% endif %}                                 
                                </div>
                            </td>
                        {% endif %}
                    </tr>


                    <!-- Modal de Confirmação de Exclusão -->
                    <div class="modal fade" id="confirmDeleteModal{{ registro.id }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel{{ registro.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteModalLabel{{ registro.id }}">Excluir o Registro: {{ registro.id }} </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Tem certeza de que deseja excluir o registro de <strong>{{ registro.nome }}</strong>, realizado em <strong>{{ registro.data_publicacao|date:"d/m/Y" }}</strong>?</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="POST" action="{% url 'excluir_registro_transformacao' registro.id %}">
                                    {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Confirmar</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div> 



                    <!-- Modal de Edição -->
<div class="modal fade" id="confirmEditModal{{ registro.id }}" tabindex="-1" aria-labelledby="confirmEditModalLabel{{ registro.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmEditModalLabel{{ registro.id }}">Editar Registro: {{ registro.id }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="POST" action="{% url 'editar_registro_transformacao' registro.id %}">
                    {% csrf_token %}
                    
                    <label>Nome:</label>
                    <input type="text" name="nome" value="{{ registro.nome }}" class="form-control">

                    <label>Secretaria:</label>
                    <input type="text" name="secretaria" value="{{ registro.secretaria }}" class="form-control">

                    <label>Cargo:</label>
                    <input type="text" name="cargo" value="{{ registro.cargo }}" class="form-control">

                    <label>Email:</label>
                    <input type="email" name="email" value="{{ registro.email }}" class="form-control">

                    <label>Telefone:</label>
                    <input type="text" name="telefone" value="{{ registro.telefone }}" class="form-control">

                    <label>Chefe Imediato:</label>  <!-- Campo que estava faltando -->
                    <input type="text" name="chefe_imediato" value="{{ registro.chefe_imediato }}" class="form-control">

                    <label>Problema Urgente:</label>
                    <textarea name="problema_urgente" class="form-control">{{ registro.problema_urgente }}</textarea>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Salvar Alterações</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


                          


                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
