{% extends 'figital/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Registros - 1º Escalão{% endblock %}

{% block content %}
    <h2>Registros - 1º Escalão</h2>
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data da Publicação</th>
                <th scope="col">Nome</th>
                <th scope="col">Secretaria</th>
                <th scope="col">Cargo</th>
                <th scope="col">Email</th>
                <th scope="col">Contato</th>
                <th scope="col">Problema Urgente</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
            <tr>
                <td scope="col">{{ registro.id }}</td>
                <td scope="col">{{ registro.data_publicacao }}</td>
                <td scope="col">{{ registro.nome }}</td>
                <td scope="col">{{ registro.secretaria }}</td>
                <td scope="col">{{ registro.cargo }}</td>
                <td scope="col">{{ registro.email }}</td>
                <td scope="col">{{ registro.telefone }}</td>
                <td scope="col">{{ registro.problema_urgente }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
